# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/

# AWS credentials / secrets
*accessKeys*
*credentials*
*.pem

# Results or generated data
results/*.csv

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/__pycache__/

app_logs.json
temp_stats.json
results/
.venv/